<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Página de venta de coches</title>
</head>
<body>
    <center><h1>El Coche con la Mejor Calidad-Precio</h1>
    <p>
        No esperes más, éste es el <b><i>coche</i></b> de tus sueños, 
        porque tiene la <em><b>mejor relación de calidad-precio</b></em>, 
        con este coche vas a alcanzar la <strong>felicidad</strong> y si no, 
        accediendo al siguiente <a href="https://www.bmw.es/es/ssl/citaprevia/encuentra-tuconcesionario.html?&scp=true#/dlo/ES/es/BMW_BMWI_BMWM" target="blank">link</a> seguro que lo
encuentras…
    </p>
    <table>
        <caption>Mejores coches</caption>
        <thead>
            <tr>
                <th>Segmento A</th>
                <th>Segmento B</th>
                <th>Segmento C</th>
                <th>Segmento D</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ford KK</td>
                <td>Volkswagen Polo (Das auto)</td>
                <td>Seat León</td>
                <td>Open Insignia</td>
            </tr>
            <tr>
                <td>Mitsubishi</td>
                <td>Sanj-Yong</td>
                <td>Koennigseng</td>
                <td>Pajero</td>
            </tr>
        </tbody>
        <tfoot >
            <tr>
                <td colspan="4" style="background-color: aquamarine;text-align:center;">Seat</td>
            </tr>
        </tfoot>
    </table>
    </center>
    <ol>
        <li>Rojo</li>
        <li>Azul</li>
        <li>Amarillo</li>
    </ol>
    <ol type="a">
        <li>Rojo</li>
        <li>Azul</li>
        <li>Amarillo</li>
    </ol>
    <ol type="i" start="4">
        <li>Rojo</li>
        <li>Azul</li>
        <li>Amarillo</li>
    </ol>
    <ul type="disc">
        <li>
            Rojo
            <ul>
                <li>Claro</li>
                <li>Oscuro</li>
            </ul>
        </li>
        <li>Azul</li>
        <li>Amarillo</li>
    </ul>

    <form id="registroForm">
        <label for="fNombre">Nombre:</label>
        <input id="fNombre" name="fNombre" type="text" required/> 
        <label for="fApellidos">Apellidos:</label>
        <input id="fApellidos" name="fApellidos" type="text" required/>
        <label for="fEmail">Email:</label>
        <input id="fEmail" name="fEmail" type="email" required/>
        <label for="fPass">Contraseña:</label>
        <input id="fPass" name="fPass" type="password" required/>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>