<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
<!-- 	<link href="estilos.css" rel="stylesheet" type="text/css"/>  -->
	<title>JavaScript Pruebas</title>
	<script type="text/javascript" src="js/scripts.js">
		
	</script>
</head>
<body>
<!-- 	<h1>Hola JS!</h1> -->
<!-- 	<button onclick="mostrarImagen('https://static.nationalgeographic.es/files/styles/image_3200/public/01-waq-wildlife-std-NationalGeographic_2682117.webp?w=1600&h=1067&q=100', 276, 150, 'Koala')">Mostrar imagen</button> -->
<!-- 	<canvas id="myCanvas" width="800px" height="600px"></canvas> -->
<!-- 	<button onClick="rotaRect()">Dibuja Rectangulo</button> -->
		<button onClick="loadJSON('http://localhost:8080/api/persona', {}, function(response){console.log(response.nombre);})">Dibuja Rectangulo</button>
</body>
</html>