<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<link href="estilos.css" rel="stylesheet" type="text/css"/> 
	<title>Maquetación</title>
</head>
<body>
	<!--  Cabecera  -->
	<header>
		<img alt="Logo" width="180px" height="50px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/National-Geographic-Logo.svg/299px-National-Geographic-Logo.svg.png">
		<h1>EJEMPLO MAQUETACIÓN EN HTML5 - Maqueta #1</h1>
	</header>
	<!--  Contenido  -->
	<section class="section1">
		<figure>
			<img alt="Koala" width="200px" height="200px" src="https://static.nationalgeographic.es/files/styles/image_3200/public/01-waq-wildlife-std-NationalGeographic_2682117.webp?w=1600&h=1067&q=100">
			<figcaption>Figura: descripción de la foto</figcaption>
		</figure>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ornare sapien ac nibh vulputate feugiat. Morbi euismod velit sit amet libero volutpat ultrices in quis sem. Sed sit amet placerat sem. Curabitur vitae lectus nec purus accumsan faucibus. Donec vitae volutpat tortor. Suspendisse tempor rutrum urna, in consequat est tincidunt vitae. Cras et ligula at felis placerat tempor. Fusce elementum metus non justo luctus iaculis.</p>
		<p>Donec ligula arcu, sagittis lacinia nibh et, consequat gravida turpis. Aenean nec scelerisque felis. Integer nec odio sed lorem mattis rhoncus quis quis nibh. Praesent non fringilla nisi. Duis porta placerat mattis. Aenean in mollis odio, at egestas massa. Quisque in lectus magna. Vestibulum vel faucibus massa, vel varius tortor. Maecenas et laoreet neque, ut semper neque. Suspendisse aliquet, nisl vel pharetra ultricies, elit felis molestie sem, ac scelerisque turpis tortor non lacus.</p>
	</section>
	
	<aside>
		<p>Contenido Relacionado</p>
	</aside>
	
	<!--  Pie de página  -->
	<footer>
		<p>Pie de página</p>
	</footer>
</body>
</html>