<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Articulo</title>
</head>
<body>
	<nav>
		<a href="#">Item1</a>
		<a href="#">Item2</a>
		<a href="#">Item3</a>
	</nav>
	<article>
		<header>
			<h1>Aprendiendo HTML5</h1>
			<h2>Los Nuevos Elementos</h2>
		</header>
		<p>Nuevas etiquetas de HTML5 para hacer una página Web y
			desarrollar una aplicación Más fácilmente.</p>
		<footer>
			<p>
				Publicado:
				<time datetime="2012-09-03">Septiembre 3, 2018</time>
			</p>
		</footer>
	</article>

</body>
</html>